
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: var(--Primary-color);
  color: var(--text-color);
}
:root {
  --Primary-color: #0b0e13;
  --Primary-light-color: #1c1d20;
  --secondary-color: #17591c;
  --secondary-light-color: #2a8c30;
  --ternary-color: #f00707;
  --ternary-dark-color: #7a0202;
  --text-color: #fff;
  --text-color-secondary:#737980;
  --overlay-color:rgba(255, 255, 0, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--Primary-light-color) !important;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(138, 137, 137);
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: var(--ternary-color);
  border-radius: 10px;
}


/* Horizontal scrollbar only */
::-webkit-scrollbar:horizontal {
  height: 6px; /* height = thickness of horizontal scrollbar */
}

::-webkit-scrollbar-thumb:horizontal {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}
a{
  color: var(--text-color);
}