.loader_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Primary-color);
}

.circle_wrapper {
  position: relative;
  width: 150px;
  height: 150px;
}


.rotating_dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px dotted var(--text-color-secondary);
  animation: rotate 2s linear infinite;
}


.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  color: var(--ternary-color);
  font-family: Arial, sans-serif;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}