.error_page {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("./assets/texture1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #451515;
  overflow: hidden;
}
.moon{
  background: url('./assets/moon.png');
  width: 350px;
  height: 350px;
  z-index: 1;
  position: absolute;
  bottom:80%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.error_message {
  margin: 0 40px;
  height: 50vh;
}
.error_message h3 {
  font-size: 2.4rem;
  color: #eab863;
}
.error_message p {
  color: #ffff;
  font-size: 1.4rem;
  line-height: 30px;
  margin-bottom: 20px;
}

.texture {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.grass {
  background: url("./assets/grass.png");
  width: 100%;
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
  margin-bottom: -2%;
}

.grass::before {
  content: "";
  position: absolute;
  background: url("./assets/grass2.png");
  width: 100%;
  height: 350px;
  bottom: -25%;
  left: 0%;
  overflow: hidden;
  z-index: -1;
  right: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
 
.hand {
  background: url("./assets/hand.png");
  width: 320px;
  height: 500px;
  position: absolute;
  bottom: 20%;
  right: 50%;
  left: 50%;
  z-index: 2;
  object-fit: cover;
}

.hand h3 {
  right: 37%;
  color: #fff;
  top: 20%;
  font-size: 2.4rem;
  transform: rotate(12deg);
  position: absolute;
}
@media only screen and (max-width: 680px) {
  .hand {
    left: 0%;
    height: 400px;
    width: 306px;
  }
  .error_message{
    position: absolute;
    z-index: 2;
  }
  .moon{
   
    width: 300px;
    height: 300px;
    z-index: 1;
    position: absolute;
    bottom:80%;
    left: 7%;
  }
  .hand h3{
    right: 30%;
  }
  .error_message {
    justify-content: flex-start !important;
    padding-top: 10%;
  }
}
