.users{
    margin: 14px;
}

.user_table{
    margin: 60px 0;
  padding: 12px;
  width: 90%;
   background-color: var(--Primary-light-color);
}
@media only screen and (max-width: 768px){
.users_count{
flex-wrap: wrap;
gap: 12px;
justify-content: center !important;
}
.user_table{
    width: 100%;
}
}