.contact_section{
    margin: 20px 0;
}

.contact_form {
  width: 60%;
  background-color: var(--Primary-light-color);
  padding: 23px;
}

.contact_form h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--ternary-color);
}
.contact_form p{
    margin: 12px 0;
    text-transform: uppercase;
}
.contact_form form {
    margin-top: 60px;
}
.contact_form form input[type="submit"] {
  height: 60px;
  width: 180px;
  margin: 20px 0;
}
.contact_form form label{
    text-transform: uppercase;
    margin: 6px 0;
}
.contact_form form label::after{
    content: "*";
    margin: 0 4px;
    color: var(--ternary-color);
}

.contact_form form input[type="text"],
.contact_form form input[type="email"] {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  color: var(--text-color);
  outline: none;
  height: 40px;
  padding: 12px;
  width: 300px;
}

.contact_form form textarea {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  color: var(--text-color);
  outline: none;
  padding: 12px;

}
.contact_map{
    margin: 12px 0;
}
.contact_map iframe{
    width: 100%;
    height: 400px;
}
.contact_info {
  width: 30%;
  position: relative;
}
.contact_info img{
    width: 100%;
}

.img1{
    height: 360px;
     
}
.img2{
    margin-top: -4px;
}
.over_text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.over_text h3{
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    margin: 6px 0;
}
.over_text p{
text-align: center;
text-transform: uppercase;
color: var(--text-color-secondary);
font-weight: 800;
}
.over_text ul{
    margin: 12px;
}
.over_text ul li{
    padding: 6px 60px;
    position: relative;
}
.over_text ul li>span{
    position: absolute;
    left: 6%;
}

 @media only screen and (max-width: 768px){
    .contact_section{
        flex-direction: column ;
    }
    .contact_info,.contact_form{
        width: 100%;
    }
 }
  @media only screen and (max-width: 320px){
.contact_form form input[type="text"],
.contact_form form input[type="email"]{
    width: 250px;
}
  }