.popular_game_asset {
  margin: 200px 0;
}
.popular_sound_asset,
.popular_gui_asset {
  margin: 60px 0;
}
.asset_grid {
  display: flex;
  gap: 60px 80px; 
  flex-wrap: wrap;
  justify-content: center;
  margin: 90px 0;
}

.review_container {
  margin-top: 200px;
}
.happy_client {
  z-index: 8 !important;
}

.clients {
  font-size: 3rem;
}
.clients_number {
  margin: 0 12px;
  color: var(--ternary-color);
}
.clients_number::after {
  content: "+";
  margin: 0 6px;
}
.clients {
  flex-direction: column;
  align-items: end;
}

@media only screen and (max-width: 1024px) {
  .asset_grid {
    gap: 40px 60px;
  }
}

@media only screen and (max-width: 600px) {
  .popular_game_asset {
    margin-top: 280px;
  }
  .popular_asset {
    margin-top: 280px;
  }
  .asset_grid {
    justify-content: center;
    width: 100%;
  }
}
