.news {
  margin: 12px 0;
}
.news_container {
  width: 65%;
}
.advertisement_container {
  padding-top: 42px;
  padding-left: 70px;
  padding-right: 40px;
}

.social_links_container {
  margin: 40px 12px;
}
.social_links_container > h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 12px 0;
}

.social_links > li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_links > li > a {
  margin: 0 8px;
  background-color: var(--Primary-light-color);
  padding: 6px;
  border-radius: 4px;
}
.social_links > li > a:hover {
  background-color: var(--ternary-color);
  color: var(--Primary-light-color);
}

.social_links > li > a > svg {
  font-size: 1.5rem;
}

.m_advertisement {
  display: none;
}

@media only screen and (max-width: 768px) {
  .advertisement_container {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 568px) {
  .advertisement_container {
    display: none;
  }
  .m_advertisement {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    overflow-x: scroll;
  }
  .news_container {
    width: 100% !important;
  }
}
