.asset_types{
    margin: 40px 0;
    width: 170px;
    overflow-x: auto;
    width: 100%;
}
.tumb{
    margin: 17px;
    color: var(--text-color-secondary);
}
.tumb_img>img{
    height: 100px;
    width: 150px;
    border-radius: 4px;
}
.tumb_title p{
text-align: center;
}

  .title{
margin: 12px 0;
  }.title>p{
text-transform: uppercase;
    font-size: 1rem;
    margin: 12px 0;
    position: relative;
    padding: 8px 0;
  }
 .title>p::after{
    content: "";
  position: absolute;
  height: 2px;
  background-image: linear-gradient(
    to right,
    #ff2424 40%,
    var(--Primary-light-color) 60%
  );
  bottom: 0%;
  width: 170px;
  left: 0%;
}