
.assets>.upload{
      background-color: var(--Primary-light-color);
       margin: 14px;
  background-color: var(--Primary-light-color);
  padding: 12px;
}
.assets>.upload>.table-wrapper{
  height: 70vh !important;
}