.admin_profile {
  margin: 14px;
  background-color: var(--Primary-light-color);
  max-width: 50%;
}
.admin_profile > .header {
  padding: 12px 9px;
  border-bottom: 1px solid var(--text-color-secondary);
}
.admin_profile > .main {
  height: 60vh;
  margin: 12px;
}
.main_header {
  border-bottom: 1px solid var(--text-color-secondary);
  padding-bottom: 12px;
}
.profile_pic > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.profile_info {
  margin-left: 12px;
}
.edit_form {
  margin: 28px;
}
.edit_form_body > form {
  margin: 0 28px;
}
.form_header h3 {
  background-color: var(--Primary-color);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
}
.edit_form_body > form {
  margin-top: 12px;
}
.edit_form_body > form > input {
  margin: 6px 0;
  height: 30px;
  outline: none;
  border: none;
  padding: 0 8px;
  background-color: var(--Primary-color);
  color: var(--text-secondary);
}
.edit_form_body > form > input[type="submit"] {
  height: 34px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--Primary-color);
}

.pic_choose {
  margin: 20px auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--Primary-color);
  position: relative;
  border: 2px solid var(--ternary-color);
   z-index: 10;
}
.pic_choose > input {
  position: absolute;
  top: 0%;
  opacity: 0;
  border-radius: 50%;
  width: 87px;
  height: 87px;
  width: 100%;
}
.pic_choose > svg {
  position: absolute;
  font-size: 1.5rem;
  bottom: 0%;
  right: 0%;
  background-color: var(--ternary-color);
  border-radius: 50%;
  padding: 2px;
}
@media only screen and (max-width: 768px) {
  .edit_form_body > form {
    margin: 0px;

    .form_header {
      display: flex;
      gap: 8px;
    }

    .form_header h3 {
      flex: 1;
      justify-content: center;
      font-size: 14px;
      padding: 8px 4px;
      text-align: center;
      height: 38px;
      border-radius: 8px;
    }
  }

  .form_header {
    display: flex;
    gap: 10px;
  }

  .form_header h3 {
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    height: 38px;
    padding: 6px 4px;
    border-radius: 8px;
  }
}
@media only screen and (max-width: 480px) {
  .edit_form_body > form {
    margin: 0px;
  }
  .admin_profile {
    margin: 14px;
    background-color: var(--Primary-light-color);
    max-width: 90%;
  }
}
