header{
    height: 10vh;
    padding: 14px;
    background-color: var(--Primary-light-color);
}
.search{
    width: 60%;
    position: relative;
}

.search>form>input {
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    padding-right: 50px;
    outline: none;
    font-size: 16px;
    border: none;
    z-index: 20;
    background-color: var(--Primary-color);
    color: var(--text-color);
}
.search>form>svg{
    position: absolute;
    top: 25%;
    right: 2%;
    z-index: 10;
}
.pic>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left:9px;
}
