.side_bar {
  width: 15%;
  height: 100%;
  
  background-color: var(--Primary-light-color);
}
.logo {
  padding: 20px;
}
.logo > h2 > span {
  color: var(--ternary-color);
}
.side_bar > nav {
  margin: 25px 0;
}
.side_bar > nav > ul > li > a {
  padding: 20px;

  margin: 4px;
  border-bottom: 1px solid var(--text-color-secondary);
}
.side_bar > nav > ul > li > a:hover {
  background-color: var(--Primary-color);
}

.side_bar nav ul li a svg {
  font-size: 18px;
}

.logout {
  position: absolute;
  bottom: 4%;
}
.logout > ul > li {
  background-color: antiquewhite;
  margin: 20px;
  gap: 14px;
  cursor: pointer;
  color: var(--ternary-color);
  font-weight: 600;
  font-size: 18px;
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side_bar nav ul li a {
  gap: 14px;
  transition: 0.9s;
}
.hamburger {
  display: none;
}

.side_bar {
  width: 15%;
  height: 100vh;
  background-color: var(--Primary-light-color);
}

/* MOBILE */
@media only screen and (max-width: 1024px) {
  .side_bar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 240px;
    transition: 0.3s ease-in-out;
    z-index: 9999;
  }
  .logo {
  padding: 20px 50px;
}

  .side_bar.open {
    left: 0;
  }

  .hamburger {
    display: flex;
    font-size: 22px;
    cursor: pointer;
     z-index: 10000;
  }
}
