.transaction_table > tbody > tr > td > button {
  margin: 0 6px;
  border: none;
  outline: none;
  width: 70px;
  font-weight: 600;
  color: #fff;
  height: 25px;
  border-radius: 6px;
}
.status_btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
}



.pending_btn{
  background: #856404;
}

.completed_btn{
  
  background: #155724;
}

.download_btn {
  background: #4f46e5;
  cursor: pointer;
}
