.users_table > tbody > tr > td > button {
  margin: 0 6px;
  border: none;
  outline: none;
  width: 70px;
  font-weight: 600;
  color: #fff;
  height: 25px;
  border-radius: 6px;
}
.users_table > tbody > tr > td >.admin_btn{
background-color: var(--secondary-light-color);
}
.users_table > tbody > tr > td >.user_btn{
    background-color: var(--ternary-color);
}