.adv_card{
    width: 100%;
    height: 170px;
    background-color: var(--Primary-light-color);
    margin: 6px 0;
}

@media only screen and (max-width: 568px){
    .adv_card{
        width: 200px !important;
        background-color: aqua;
        margin:2px 0 ;
    }
}