.banner_section{
    height: 60vh;
    background-color: var(--Primary-light-color);
}
.banner{
    height: 350px;
    background-color: var(--Primary-color);
    box-shadow: var(--Primary-color) 0px 0px 24px;
  
    width: 80%;
    padding:0 69px;
    position: relative;
}
.ad{
    height: 100%;
    z-index: 2;
}
.ad>h3{
    text-transform: uppercase;
    font-size: 2rem;
}
.ad>p{
    margin: 6px 0;
}
.publisher_auther{
font-style: italic;
}
.ad>button{
    margin: 20px 0;
    height: 40px;
    width: 130px;
}
.ad_r>img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: .8;
}