.swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  margin-top: 20px;
}

/* Bullet */
.swiper-pagination-bullet {
  background: var(--ternary-dark-color) !important;
  opacity: 1;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: var(--ternary-color) !important;
  width: 22px !important;
  border-radius: 10px !important;
}
