.hero_section {
  position: relative;
  height: 70vh;
  background-color: var(--Primary-color);
  color: var(--text-color);
  overflow: hidden;
}


.hero_section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle at center,
    var(--overlay-color)0%,  
    transparent 50%
  );
  z-index: 1;
  pointer-events: none;
}

/* Ensure content stays above the spotlight */
.hero_section > * {
  position: relative;
  z-index: 2;
}

.hero_section_left > h5 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 12px 0;
  line-height: 20px;
  text-transform: uppercase;
}
.hero_section_left > h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
}
.hero_section_left > h3 {
  
  font-size: 1.3rem;
  text-transform: uppercase;
}
.hero_section_left> h3> span {
  color: var(--overlay-color);
}
.hero_section_left > p {
  margin-top: 16px;
  color: var(--text-color-secondary);
  font-size: 1.1rem;
  line-height: 22px;
} 
.hero_section_left,
.hero_section_right {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .hero_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero_section_left,
  .hero_section_right {
    width: 80%;
  }
  .hero_section_left > h5 {
    font-size: 1rem;
  }
  .hero_section_left > h2 {
    font-size: 2rem;
  }
  .btn_f {
    justify-content: center;
  }
}
@media only screen and (max-width: 425px) {
.hero_section_left > h2 {
  font-size: 1.4rem;
}
.hero_section_left > h3 {

  font-size: 1rem;
  
}
}