/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 10vh;
  background-color: var(--Primary-light-color);
  box-shadow: var(--Primary-color) 0px 0px 24px;
}

/* Logo */
.logo a h2 {
  font-size: 1.5rem;
  color: var(--text-color);
}
.logo>a>h2>span{
  color: var(--ternary-color);
}
/* Navigation Links */
.nav_links {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.nav_links li {
  margin: 0 10px;
}

.nav_links li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  padding: 12px 0;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown_menu {
  position: absolute;
  top: 150%;
  left: 0;
  background-color: var(--Primary-light-color);
  color: var(--text-color);
  list-style: none;
  min-width: 250px;
  display: none;
  border-top: 5px solid var(--ternary-color);
}

.dropdown:hover .dropdown_menu {
  display: block;
}

.dropdown_menu li {
  border-bottom: 1px solid var(--Primary-color);
  padding: 12px;
}

.dropdown_menu li :hover {
  padding-left: 20px;
  transition: all 1.5s ease-in-out;
}
.profile li a {
  color: var(--text-color);
  text-transform: uppercase;
}
.mobile_profile {
  color: var(--text-color);
  text-transform: uppercase;
  display: none;
}

/* Hamburger Menu */
.hamburger{
display: none;
}

.hamburger svg {
  font-size: 25px;
  color: var(--text-color);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between !important;
    padding: 0 12px;
  }
  /* Hamburger Button Visible */
  .hamburger {
    display: block;
  }

  /* Mobile Navigation */
  .nav_links {
    position: absolute;
    flex-direction: column;
    align-items: start;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    display: none;
    background-color: var(--Primary-light-color);
  }
  .nav_links > li {
    margin: 15px 0;
  }
  /* Active Hamburger Menu */
  .nav_links.active {
    display: flex;
  }
  .profile {
    display: none;
  }
  .mobile_profile {
    display: block;
  }
}

.close {
  position: absolute;
  top: -2%;
  right: -2%;
  z-index: 10;
  cursor: pointer;
  background-color: var(--ternary-color);
  color: var(--text-color);
  border: none;
  font-size: 1.5rem;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}

.modal_container {
  position: relative; 
  background-color: var(--Primary-light-color);
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  height: 80vh;
}
