.search{
margin: 20px 0;
width: 100%;
}

.search_bar >form>input[type="search"]{
background-color: var(--Primary-light-color);
outline: none;
border: none;
height: 5vh;
width: 85%;
color: var(--text-color);
font-size: 1.1rem;
padding: 6px;
}
    
.search_bar>form>input[type="button"]{
margin: 0 8px;
height: 5vh;
background-color: var(--ternary-color);
color: var(--text-color);
border: none;
padding: 0 18px;
}