.tranding_game {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.tranding_game img {
  width: 100%;
  height: 100%;
}

.tranding_game .info {
  position: absolute;
  left: 0;
  bottom: -40%;
  width: 100%;
  opacity: 0;
  padding: 15px;
  transition: all 0.4s ease;
}


.tranding_game:hover .info {
  bottom: 2%;
  opacity: 1;
}
.info {
  margin: auto;
}
.info > span {
  background-color: var(--Primary-light-color);
  padding: 4px 6px;
  border-radius: 6px;
  font-weight: 700;
}
.info > h3 {
  font-size: 1.7rem;
}
.info > p {
  margin: 6px 0;
  /* text-align: center; */
}
.news_link > a {
  margin-top: 6px !important;
}

@media only screen and (max-width: 768px) {
  .tranding_game {
    width: 250px;
  }
}
